{% extends "layout.html" %}

{% block content %}
<section class="wrapper">
  <!-- /col-md-12 -->
  <h2>
    Insights Dashboard
  </h2>
  <div class="col-md-6 mt">
    <div class="content-panel">
      <table class="table table-hover">
        <h4><i class="fa fa-angle-right"></i> Top Holders</h4>
        <div class="text-center">
          <strong>
            Time Frame: <i>05-08-2010 to 12-08-2010</i>
          </strong>
        </div>
        <thead>
          <tr>
            <th>#</th>
            <th>Wallet Address</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          {% for response in holders %}
          <tr>
            <td>{{ response.rank }}</td>
            <td>{{ response.address }}</td>
            <td>{{ response.amount }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <!-- /col-md-12 -->
  <!-- /col-md-12 -->
  <div class="col-md-6 mt">
    <div class="content-panel">
      <table class="table table-hover">
        <h4><i class="fa fa-angle-right"></i> Top Receivers</h4>
        <div class="text-center">
          <strong>
            Time Frame: <i>05-08-2010 to 12-08-2010</i>
          </strong>
        </div>
        <thead>
          <tr>
            <th>#</th>
            <th>Wallet Address</th>
            <th># Transactions</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          {% for response in receivers %}
          <tr>
            <td>{{ response.rank }}</td>
            <td>{{ response.address }}</td>
            <td>{{ response.amount }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <!-- /col-md-12 -->
  <!-- /col-md-12 -->
  <div class="col-md-6 mt">
    <div class="content-panel">
      <table class="table table-hover">
        <h4><i class="fa fa-angle-right"></i> Top Senders</h4>
        <div class="text-center">
          <strong>
            Time Frame: <i>05-08-2010 to 12-08-2010</i>
          </strong>
        </div>
        <thead>
          <tr>
            <th>#</th>
            <th>Wallet Address</th>
            <th># Transactions</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
         {% for response in senders %}
          <tr>
            <td>{{ response.rank }}</td>
            <td>{{ response.address }}</td>
            <td>{{ response.amount }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <!-- /col-md-12 -->
  <!-- /row -->
</section>
{% endblock content %}
{% block scripts %}
{% endblock scripts %}