{% extends "layout.html" %}

{% block content %}
<section class="wrapper">
  <!-- /col-md-12 -->
  <h2>
    Insights Dashboard
  </h2>
  <div class="col-md-6 mt">
    <div class="content-panel">
      <table class="table table-hover">
        <h4><i class="fa fa-angle-right"></i> Top Holders</h4>
        <div class="text-center">
          <strong>
            Time Frame: <i>05-08-2010 to 12-08-2010</i>
          </strong>
        </div>
        <thead>
          <tr>
            <th>#</th>
            <th>Wallet Address</th>
            <th># Transactions</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Simon</td>
            <td>Mosa</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- /col-md-12 -->
  <!-- /col-md-12 -->
  <div class="col-md-6 mt">
    <div class="content-panel">
      <table class="table table-hover">
        <h4><i class="fa fa-angle-right"></i> Top Receivers</h4>
        <div class="text-center">
          <strong>
            Time Frame: <i>05-08-2010 to 12-08-2010</i>
          </strong>
        </div>
        <thead>
          <tr>
            <th>#</th>
            <th>Wallet Address</th>
            <th># Transactions</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Simon</td>
            <td>Mosa</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- /col-md-12 -->
  <!-- /col-md-12 -->
  <div class="col-md-6 mt">
    <div class="content-panel">
      <table class="table table-hover">
        <h4><i class="fa fa-angle-right"></i> Top Senders</h4>
        <div class="text-center">
          <strong>
            Time Frame: <i>05-08-2010 to 12-08-2010</i>
          </strong>
        </div>
        <thead>
          <tr>
            <th>#</th>
            <th>Wallet Address</th>
            <th># Transactions</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Simon</td>
            <td>Mosa</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- /col-md-12 -->
  <!-- /row -->
</section>
{% endblock content %}
{% block scripts %}
{% endblock scripts %}