{% extends "layout.html" %}

{% block content %}
<section class="wrapper">
  <!-- /col-md-12 -->
  <h2>
    Insights Dashboard
  </h2>
  {% if holders|count %}

  <div class="col-lg-6 mt">
    <div class="content-panel">
      <div class="row">
        <div class="col-md-7 col-xs-4">
          <h4><i class="fa fa-angle-right"></i> Top Holders</h4>
          <!--          <div class="text-center">
            <div class="btn-group">
              <button type="button" class="btn btn-warning">1 Week</button>
              <button type="button" class="btn btn-default">1 Month</button>
              <button type="button" class="btn btn-default">1 Year</button>
              <button type="button" class="btn btn-default">All Time</button>
            </div>
          </div> -->
        </div>
        <div class="col-md-5 col-xs-4">
          <div class="text-center">
            <div class="slider-labal">
              <label class="switching-chart">
                <strong>
                  <span id="holders-title">
                    Show Chart<br>
                  </span>
                  <input type="checkbox" id="holders">
                  <span class="slider round"></span>
                </strong>
              </label>
            </div>
          </div>
        </div>
      </div>

      <table class="table table-hover" style="table-layout:fixed;" id="holders-table">
        <thead>
          <tr>
            <th style="width:6%">#</th>
            <th style="width:62%">Wallet Address</th>
            <th style="width:16%;">Amount (in {{config.currency}})</th>
            <!-- <th style="width:16%;">Percentage</th> -->
          </tr>
        </thead>
        <tbody>
          {% for response in holders %}
          <tr>
            <td style="width:6%">{{ response.rank }}</td>
            <td style="width: 62%">{{ response.address }}</td>
            <td style="width:16%;">{{ response.amount }}</td>
            <!-- <td style="width:16%;">{{ "%.2f"|format(response.amount * 100 / holders|sum(attribute='amount'))}}%</td> -->
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="hidden" style="margin: 25px;" id="holders-chart">
        <!-- <ul class="y-axis">
          <li><span class="y-amount">{{ holders[0].amount*1.2 }}</span></li>
          <li><span class="y-amount">{{ holders[0].amount*1.2*0.8}}</span></li>
          <li><span class="y-amount">{{ holders[0].amount*1.2*0.6}}</span></li>
          <li><span class="y-amount">{{ holders[0].amount*1.2*0.4}}</span></li>
          <li><span class="y-amount">{{ holders[0].amount*1.2*0.2}}</span></li>
          <li><span class="y-amount">{{ holders[0].amount*1.2*0.0}}</span></li>
        </ul> -->
        <div class="bar">
          <!--  -->
        </div>
        <!-- {% for response in holders[:6] %}
        <div class="bar">
          <div class="title tooltips" data-original-title={{ response.address }} data-toggle="tooltip"
            data-placement="bottom">{{ response.address[:10]}}..</div>
          <div class="value tooltips" data-original-title={{ response.amount}} data-toggle="tooltip"
            data-placement="top">
            {{ response.amount / (holders[0].amount*1.2 / 300) }} </div>
        </div>
        {% endfor %} -->

      </div>
    </div>
  </div>
  {% endif %}
  <!-- /col-md-12 -->
  {% if receivers|count %}
  <div class="col-lg-6 mt">
    <div class="content-panel">
      <div class="row">
        <div class="col-md-7 col-xs-4">
          <h4><i class="fa fa-angle-right"></i> Top Receivers</h4>
          <!--          <div class="text-center">
            <div class="btn-group">
              <button type="button" class="btn btn-warning">1 Week</button>
              <button type="button" class="btn btn-default">1 Month</button>
              <button type="button" class="btn btn-default">1 Year</button>
              <button type="button" class="btn btn-default">All Time</button>
            </div>
          </div> -->
        </div>
        <div class="col-md-5 col-xs-4">
          <div class="text-center">
            <div class="slider-labal">
              <label class="switching-chart">
                <strong>
                  <span id="receivers-title">
                    Show Chart<br>
                  </span>
                  <input type="checkbox" id="receivers">
                  <span class="slider round"></span>
                </strong>
              </label>
            </div>
          </div>
        </div>
      </div>

      <table class="table table-hover" style="table-layout:fixed;" id="receivers-table">
        <thead>
          <tr>
            <th style="width:6%"> #</th>
            <th style="width: 62%"> Wallet Address</th>
            <th style="width:16%;"> Amount (in {{config.currency}})
            
            </th>
            <!-- <th style="width:16%;"> Percentage</th> -->
          </tr>
        </thead>
        <tbody>
          {% for response in receivers %}
          <tr>
            <td style="width:6%"> {{ response.rank }}</td>
            <td style="width: 62%"> {{ response.address }}</td>
            <td style="width:16%;"> {{ response.amount }}</td>
            <!-- <td style="width:16%;"> {{ "%.2f"|format(response.amount * 100 / receivers|sum(attribute='amount'))}}%</td> -->
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="hidden" style="margin: 25px;" id="receivers-chart">

      </div>
    </div>
  </div>
  {% endif %}

  {% if senders|count %}

  <!-- /col-md-12 -->
  <div class="col-lg-6 mt">
    <div class="content-panel">
      <div class="row">
        <div class="col-md-7 col-xs-4">
          <h4><i class="fa fa-angle-right"></i> Top senders</h4>
          <!--          <div class="text-center">
            <div class="btn-group">
              <button type="button" class="btn btn-warning">1 Week</button>
              <button type="button" class="btn btn-default">1 Month</button>
              <button type="button" class="btn btn-default">1 Year</button>
              <button type="button" class="btn btn-default">All Time</button>
            </div>
          </div> -->
        </div>
        <div class="col-md-5 col-xs-4">
          <div class="text-center">
            <div class="slider-labal">
              <label class="switching-chart">
                <strong>
                  <span id="senders-title">
                    Show Chart<br>
                  </span>
                  <input type="checkbox" id="senders">
                  <span class="slider round"></span>
                </strong>
              </label>
            </div>
          </div>
        </div>
      </div>

      <table class="table table-hover" style="table-layout:fixed;" id="senders-table">
        <thead>
          <tr>
            <th style="width:6%">#</th>
            <th style="width:62%">Wallet Address</th>
            <th style="width:16%;">Amount (in {{config.currency}})</th>
            <!-- <th style="width:16%;">Percentage</th> -->
          </tr>
        </thead>
        <tbody>
          {% for response in senders %}
          <tr>
            <td style="width:6%">{{ response.rank }}</td>
            <td style="width: 62%">{{ response.address }}</td>
            <td style="width:16%;">{{ response.amount }}</td>
            <!-- <td style="width:16%;">{{ "%.2f"|format(response.amount * 100 / senders|sum(attribute='amount'))}}%</td> -->
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="hidden" style="margin: 25px;" id="senders-chart">
        
        <div class="bar">
          <!--  -->
        </div>
      </div>
    </div>
  </div>
  {% endif %}

</section>
{% endblock content %}
{% block scripts %}
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<!-- <script src='https://cdnjs.com/libraries/Chart.js'></script> -->

<script>
  $("#holders").prop("checked", false);
  $("#receivers").prop("checked", false);
  $("#senders").prop("checked", false);
  function truncate(str, n) {
    return (str.length > n) ? str.substr(0, n - 1) + '...' : str;
  };
  function break_text(str, n) {
    return (str.length > n) ? str.slice(0, n - 1) + '<br>' + str.slice(n, 2*n - 1) : str;
  };
  function generate_bar_plot(data, holder_id,color) {

    add = []
    val = []
    add_text = []
    for (i in data) {
      // console.log(i)
      add.push(1+parseInt(i));
      add_text.push(break_text(data[i]['address'],64));
      val.push(data[i]['amount']);
    }
    var avg = val.reduce((a,v,i)=>(a*i+v)/(i+1));
    var median = val[4];
    console.log(val,add)
    var data = [{
      y: val,
      x: add,
      // showlegend: false,
      text: add_text,
      type: 'bar',
      marker: {color: color},
      
    }];

    var layout = {
      height: 400,
      width: 568,
      yaxis:{
        range:[0,median*6]
      }
    };

    Plotly.newPlot(holder_id, data, layout);

  }
  
  var holders_data = {{ holders| safe }};
  generate_bar_plot(holders_data,'holders-chart','#ffc400');
  var senders_data = {{ senders| safe }};
  generate_bar_plot(senders_data,'senders-chart','#f44336');
  var recerivers_data = {{ receivers| safe }};
  generate_bar_plot(recerivers_data,'receivers-chart','#4caf50');

  $('#holders').change(function () {
    if ($(this).is(":checked")) {
      $('#holders-table').addClass('hidden');
      $('#holders-chart').removeClass('hidden');
      $('#holders-title').html('Show Table<br>');
    } else {
      $('#holders-chart').addClass('hidden');
      $('#holders-table').removeClass('hidden');
      $('#holders-title').html('Show Chart<br>');

    }

  });
  $('#receivers').change(function () {
    if ($(this).is(":checked")) {
      $('#receivers-table').addClass('hidden');
      $('#receivers-chart').removeClass('hidden');
      $('#receivers-title').html('Show Table<br>');
    } else {
      $('#receivers-chart').addClass('hidden');
      $('#receivers-table').removeClass('hidden');
      $('#receivers-title').html('Show Chart<br>');

    }
  });

  $('#senders').change(function () {
    if ($(this).is(":checked")) {
      $('#senders-table').addClass('hidden');
      $('#senders-chart').removeClass('hidden');
      $('#senders-title').html('Show Table<br>');
    } else {
      $('#senders-chart').addClass('hidden');
      $('#senders-table').removeClass('hidden');
      $('#senders-title').html('Show Chart<br>');

    }
  });


</script>

{% endblock scripts %}