<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>Blockchain Analysis Tool</title>

    <!-- Favicons -->
    <link href="static/img/favicon.png" rel="icon">
    <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="static/css/neo4jd3.css">
    <link href="static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--external css-->
    <link href="static/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="static/lib/bootstrap-datepicker/css/datepicker.css" />
    <link rel="stylesheet" type="text/css" href="static/lib/bootstrap-datetimepicker/css/datetimepicker.css" />
    <!-- Custom styles for this template -->
    <link href="static/css/style.css" rel="stylesheet">
    <link href="static/css/style-responsive.css" rel="stylesheet">

    <!-- <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/fontawesome.min.css"> -->
    <style>
        .fullscreen {
            position: absolute;
            bottom: 25px;
            right: 25px;
            background-color: #eeeeee;
            border: #ccc solid 3px;
            border-radius: 20px;
            font-size: 20px;
            padding: 1rem;
        }

        .fullscreen:hover {
            /* position: absolute;
            top: 25px;
            right: 25px; */
            background-color: #d7d7d7ee;
            font-size: 20px;
            padding: 1rem;
        }

        .close-graph {
            position: absolute;
            top: 25px;
            right: 25px;
            background-color: #eeeeee;
            border: #ccc solid 3px;
            border-radius: 20px;
            font-size: 20px;
            padding: 1rem;
            z-index: 20010;

        }

        .close-graph:hover {
            /* position: absolute;
            top: 25px;
            right: 25px; */
            background-color: #d7d7d7ee;
            font-size: 20px;
            padding: 1rem;
        }

        .switching {
            position: relative;
            display: inline-block;
            width: 140px;
            height: 60px;
        }

        .switching input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 26px;
            left: 26px;
            right: 34px;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider-label {
            vertical-align: center;
        }

        input:checked+.slider {
            background-color: #48bcb4;
        }

        input:focus+.slider {
            box-shadow: 0 0 1px #48bcb4;
        }

        input:checked+.slider:before {
            -webkit-transform: translateX(46px);
            -ms-transform: translateX(46px);
            transform: translateX(46px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }

        #display-graph-fullscreen {
            position: fixed !important;
            top: 0 !important;
            left: 0 !important;
            margin: 0 !important;
            width: 100vw !important;
            height: 100vh !important;
            z-index: 10000 !important;
            padding: 2vw !important;

        }

        .neo4jd3-fullscreen {
            position: absolute !important;
            margin: auto !important;
            width: 96vw !important;
            height: 95vh !important;

        }
    </style>
    <!-- =======================================================
    Template Name: Dashio
    Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->
</head>

<body>
    <section id="container" style="height:100%;">
        <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
        <!--header start-->
        <header class="header black-bg">
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
            </div>
            <!--logo start-->
            <a href="/" class="logo"><b>Blockchain Analysis<span> Tool</span></b></a>
            <!--logo end-->
            <div class="nav notify-row">

                <!--  notification start -->
                <ul class="nav top-menu">
                    <!-- settings start -->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                            <i class="fa fa-cog"></i>
                            <!-- <span class="badge bg-theme">4</span> -->
                        </a>
                        <ul class="dropdown-menu extended tasks-bar">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green">Tool Settings</p>
                            </li>
                            <li>
                                <div class="task-info">
                                    <a>
                                        <h4>
                                            Blockchain for Analysis
                                        </h4>
                                        <div class="col-md-10 settings">
                                            <select class="form-control mt" id="db_val">
                                                <option value="ba" {% if config.db=='ba' %} selected="selected"
                                                    {% endif %}>Bitcoin BTC</option>
                                                <option value="vjcoin" {% if config.db=='vjcoin' %} selected="selected"
                                                    {% endif %}>VJCoin</option>
                                            </select>
                                        </div>
                                    </a>
                                </div>

                            </li>
                            <li>
                                <div class="task-info">
                                    <a>
                                        <h4>
                                            Limit number of Nodes
                                        </h4>
                                        <div class="col-md-10 settings">
                                            <select class="form-control mt" id="limit_num">
                                                <option value="500" {% if config.LIMIT==500 %} selected="selected"
                                                    {% endif %}> 500 </option>
                                                <option value="1000" {% if config.LIMIT==1000 %} selected="selected"
                                                    {% endif %}>1000</option>
                                                <option value="2000" {% if config.LIMIT==2000 %} selected="selected"
                                                    {% endif %}>2000</option>
                                                <option value="4000" {% if config.LIMIT==4000 %} selected="selected"
                                                    {% endif %}>4000</option>
                                            </select>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <!-- <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">Product Development</div>
                                        <div class="percent">80%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-info" role="progressbar"
                                            aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">80% Complete</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">Payments Sent</div>
                                        <div class="percent">70%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-danger" role="progressbar"
                                            aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                            <span class="sr-only">70% Complete (Important)</span>
                                        </div>
                                    </div>
                                </a>
                            </li> -->
                            <li class="external">
                                <a>Close Dropdown</a>
                            </li>
                        </ul>
                    </li>
                    <!-- inbox dropdown end -->
                    <!-- notification dropdown start-->
                    <li id="header_notification_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle">
                            <i class="fa fa-bell-o"></i>
                            {% if config.alerts|count %}
                            <span class="badge bg-warning">{{config.alerts|count}}</span>
                            {% endif %}

                        </a>
                        <ul class="dropdown-menu extended notification">
                            <div class="notify-arrow notify-arrow-yellow"></div>
                            <li>
                                <p class="yellow">You have {{config.alerts|count}} notifications</p>
                            </li>
                            {% for response in config.alerts[:5] %}
                            <li>
                                <a href="/alerts">
                                    {% if response.type=='Address' %}
                                    <span class="label label-success"><i class="fa fa-user"></i></span>
                                    {% endif %}
                                    {% if response.type=='Amount' %}
                                    <span class="label label-success"><i class="fa fa-money"></i></span>
                                    {% endif %}
                                    {{ response.value }}
                                    <span class="small italic">{{response.tx_hash}}</span>
                                </a>
                            </li>
                            {% endfor %}
                            <li>
                                <a href="/alerts">See all notifications</a>
                            </li>
                        </ul>
                    </li>
                    <!-- notification dropdown end -->
                </ul>
                <!--  notification end -->
            </div>
            <div class="top-menu">
                <ul class="nav pull-right top-menu">
                    <li><a class="logout" href="login.html">Refresh</a></li>
                </ul>
            </div>
        </header>
        <!--header end-->
        <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">

                    <li class="mt">
                        <a class="side-nav" id="home" href="/">
                            <i class="fa fa-dashboard"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>

                    <li>
                        <a class="side-nav" id="track" href="/track">
                            <i class="fa fa-angle-double-right"></i>
                            <span>Track Spend UTXO</span>
                            <!-- <span class="label label-theme pull-right mail-info">2</span> -->
                        </a>
                    </li>
                    <li>
                        <a class="side-nav" id="trace" href="/trace">
                            <i class="fa fa-angle-double-left"></i>
                            <span>Trace Origin UTXO</span>
                            <!-- <span class="label label-theme pull-right mail-info">2</span> -->
                        </a>
                    </li>
                    <li>
                        <a class="side-nav" id="search" href="/search">
                            <i class="fa fa-search"></i>
                            <span>Search By</span>
                            <!-- <span class="label label-theme pull-right mail-info">2</span> -->
                        </a>
                    </li>
                    <li>
                        <a class="side-nav" id="alert" href="/monitors">
                            <i class="fa fa-plus-square-o"></i>
                            <span>Create Monitor</span>
                            <!-- <span class="label label-theme pull-right mail-info">2</span> -->
                        </a>
                    </li>
                    <li>
                        <a class="side-nav" id="alert" href="/alerts">
                            <i class="fa fa-bell"></i>
                            <span>View Monitor</span>
                            <!-- <span class="label label-theme pull-right mail-info">2</span> -->
                        </a>
                    </li>
                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
        <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
        <!--main content start-->
        <section id="main-content">
            {% block content %}
            {% endblock %}
        </section>
        <!--main content end-->
        <!--main content end-->
        <!--footer start-->
        <!-- <footer class="site-footer">
            <div class="text-center">
                <p>
                    &copy; Copyrights <strong>Dashio</strong>. All Rights Reserved
                </p>
                <div class="credits"> -->
        <!--
            You are NOT allowed to delete the credit link to TemplateMag with free version.
            You can delete the credit link only if you bought the pro version.
            Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/dashio-bootstrap-admin-template/
            Licensing information: https://templatemag.com/license/
          -->
        <!-- Created with Dashio template by <a href="https://templatemag.com/">TemplateMag</a>
                </div>
                <a href="/" class="go-top">
                    <i class="fa fa-angle-up"></i>
                </a>
            </div>
        </footer> -->
        <!--footer end -->
    </section>
    <!-- js placed at the end of the document so the pages load faster -->

    <script src="static/lib/jquery/jquery.min.js"></script>
    <script src="static/lib/bootstrap/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="static/lib/jquery.dcjqaccordion.2.7.js"></script>
    <script src="static/lib/jquery.scrollTo.min.js"></script>
    <script src="static/lib/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="static/lib/jquery.sparkline.js"></script>
    <!--common script for all pages-->
    <script src="static/lib/common-scripts.js"></script>
    <!--script for this page-->
    <script src="static/lib/jquery-ui-1.9.2.custom.min.js"></script>
    <script type="text/javascript" src="static/lib/bootstrap-fileupload/bootstrap-fileupload.js"></script>
    <script type="text/javascript" src="static/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="static/lib/bootstrap-daterangepicker/date.js"></script>
    <script type="text/javascript" src="static/lib/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script type="text/javascript" src="static/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="static/lib/bootstrap-daterangepicker/moment.min.js"></script>
    <script type="text/javascript" src="static/lib/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
    <script src="static/lib/advanced-form-components.js"></script>



    <script src="/static/js/d3.min.js"></script>
    <script src="/static/js/neo4jd3.js"></script>
    <script type="text/javascript">
        $('.settings').bind('click', function (e) {
            e.stopPropagation();
            console.log('Clicked');
        });
        $('.settings').change(function () {
            // e.stopPropagation();
            url = '/settings';
            console.log('change')
            console.log($('#db_val :selected').val());
            console.log($('#limit_num :selected').val());
            var posting = $.post(url, { db: $('#db_val :selected').val(), limit: $('#limit_num :selected').val() });
            posting.done(function (result) {
                console.log('results:' + result)
                location.reload();

            });
        });

        $('.fullscreen').click(function () {
            if ($('#display-graph-fullscreen').css('position') == 'fixed') {
                $('#display-graph-fullscreen').attr('id', 'display-graph');
                $('#neo4jd3').removeClass('neo4jd3-fullscreen');
                $('#fullscreen-btn').removeClass('fa-compress');
                $('#fullscreen-btn').addClass('fa-expand');
                // $('.fullscreen').css('z-index', '20000');

            } else {
                console.log($("#display-graph").attr('style'));

                $('#display-graph').attr('id', 'display-graph-fullscreen');
                $('#neo4jd3').addClass('neo4jd3-fullscreen')



                $('#fullscreen-btn').removeClass('fa-expand');
                $('#fullscreen-btn').addClass('fa-compress');
                $('.fullscreen').css('z-index', '20000');
                console.log('Expanded')

            }
        });
        $('.close-graph').click(function () {
            if ($('#display-graph-fullscreen').css('position') == 'fixed') {
                $('#display-graph-fullscreen').attr('id', 'display-graph');
                $('#neo4jd3').removeClass('neo4jd3-fullscreen');
                $('#fullscreen-btn').removeClass('fa-compress');
                $('#fullscreen-btn').addClass('fa-expand');
                // $('.fullscreen').css('z-index', '20000');

            }
            $('#display-graph').css('display', 'none');
            document.getElementById('neo4jd3').innerHTML = "";
        })
    </script>

    <script>
        function getURL() {
            x = (window.location.pathname).toString().split('/')[1];
            document.getElementById(x).classList.add('active');
        }
        getURL()

    </script>
    {% block scripts %}
    {% endblock %}

</body>

</html>