{% extends "layout.html" %}

{% block content %}





{% if config.logged_in %}
<section class="wrapper">


    <div class="row mt">
        <div class="col-lg-12">
            <div class="form-panel">
                <form id="graph" class="form" role="form">
                    <h4 class=""><i class="fa fa-angle-right"></i> Create Pattern </h4>

                    <div class="row">
                        <div class="col-md-3 mt">
                            <select class="form-control" id="type">
                                <option value="Address">Wallet Address</option>
                                <option value="Amount">Transaction Amount</option>
                            </select>
                        </div>
                        <div class="col-md-5 mt">
                            <div class="form-group">
                                <label class="sr-only" for="value">Pattern</label>
                                <input type="text" class="form-control" id="value" placeholder="Enter Pattern">
                            </div>
                        </div>
                        <div class="col-md-2 mt">
                            <button type="submit" class="btn btn-theme"> Create </button>
                        </div>

                    </div>
                </form>
            </div>
            <!-- /form-panel -->
        </div>
    </div>
    <div class="row mt">
        <div class="col-lg-12">
            <div id="display-graph" class="form-panel form" style="display: block; position: relative; padding: 3vh;">


                <h4><i class="fa fa-angle-right"></i>Patterns</h4>
                <div class="row">
                    <!-- page start-->
                    <div class="content-panel" style="box-shadow: none !important;">
                        <div class="adv-table">
                            <table cellpadding="0" cellspacing="0" class="display table table-bordered"
                                id="hidden-table-info" style="table-layout:fixed; width: 100% !important;">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 12%">Delete</th>
                                        <th style="width: 12% !important;">Type of Pattern</th>
                                        <th style="width: 64% !important;">Pattern</th>
                                        <th class="hidden-phone" style="width: 12%">Number of Alerts</th>
                                        <!-- <th class="hidden-phone">Engine version</th> 
                                                    <th class="hidden-phone">CSS grade</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for response in responses %}
                                    <tr class="gradeA">
                                        <td class="center" style="width: 12%">
                                            <span class="delete-icon" style="cursor: pointer;"
                                                data-id={{response.id}}><i class="fa fa-trash-o "></i></span>
                                        </td>
                                        <td style="width: 12% !important;">{{ response.type }}</td>
                                        <td style="width: 64% !important;">{{ response.value }}</td>
                                        <td class="hidden-phone" style="width: 12%">{{ response.count }}</td>
                                        <!-- <td class="center hidden-phone">.*</td> -->
                                        <!-- <td class="center hidden-phone">.*</td> -->
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- page end-->
                </div>
            </div>
        </div>
    </div>
</section>

<!-- /row -->
{% endif %}

{% if not config.logged_in %}
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form validate-form">
                <span class="login100-form-title p-b-43">
                    Login to continue
                </span>


                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <input class="input100" type="text" name="email" id="email">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Email</span>
                </div>


                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input class="input100" type="password" name="pass" id="pass">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Password</span>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn logout" id="" onclick="login()">
                        Login
                    </button>
                </div>

                <div class="text-center p-t-46 p-b-20">
                    <span class="txt2">
                        <a href="/signup">
                            or click here to sign up
                        </a>
                    </span>
                </div>
            </div>

            <div class="login100-more" style="background-image: url('static/images/bg-02.jpg');">
            </div>
        </div>
    </div>
</div>

{% endif %}
<!-- /wrapper -->




{% endblock content %}
{% block scripts %}
<!--script for Monitors page-->
<script type="text/javascript" language="javascript" src="static/lib/advanced-datatable/js/jquery.js"></script>
<script class="include" type="text/javascript" src="static/lib/jquery.dcjqaccordion.2.7.js"></script>
<script type="text/javascript" language="javascript"
    src="static/lib/advanced-datatable/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="static/lib/advanced-datatable/js/DT_bootstrap.js"></script>

<script type="text/javascript">
    /* Formating function for row details */
    function fnFormatDetails(oTable, nTr) {
        var aData = oTable.fnGetData(nTr);
        var sOut = '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">';
        sOut += '<tr><td>Rendering engine:</td><td>' + aData[1] + ' ' + aData[4] + '</td></tr>';
        sOut += '<tr><td>Link to source:</td><td>Could provide a link here</td></tr>';
        sOut += '<tr><td>Extra info:</td><td>And any further details here (images etc)</td></tr>';
        sOut += '</table>';

        return sOut;
    }

    $(document).ready(function () {
        /*
         * Insert a 'details' column to the table
         */
        // var nCloneTh = document.createElement('th');
        // var nCloneTd = document.createElement('td');
        // nCloneTd.innerHTML = '<span class="delete-icon" style="font-size:25px;"><i class="fa fa-trash-o "></i></span>';
        // nCloneTd.className = "center";

        // $('#hidden-table-info thead tr').each(function () {
        //     this.insertBefore(nCloneTh, this.childNodes[0]);
        // });

        // $('#hidden-table-info tbody tr').each(function () {
        //     this.insertBefore(nCloneTd.cloneNode(true), this.childNodes[0]);
        // });

        /*
         * Initialse DataTables, with no sorting on the 'details' column
         */
        var oTable = $('#hidden-table-info').dataTable({
            "aoColumnDefs": [{
                "bSortable": false,
                "aTargets": [0]
            }],
            "aaSorting": [
                [1, 'asc']
            ]
        });

        /* Add event listener for opening and closing details
         * Note that the indicator for showing which row is open is not controlled by DataTables,
         * rather it is done here
         */
        $('#hidden-table-info tbody td img').live('click', function () {
            var nTr = $(this).parents('tr')[0];
            if (oTable.fnIsOpen(nTr)) {
                /* This row is already open - close it */
                this.src = "static/lib/advanced-datatable/media/images/details_open.png";
                oTable.fnClose(nTr);
            } else {
                /* Open this row */
                this.src = "static/lib/advanced-datatable/images/details_close.png";
                oTable.fnOpen(nTr, fnFormatDetails(oTable, nTr), 'details');
            }
        });
    });

    $('.delete-icon').click(function (event) {
        console.log($(this).attr('data-id'));
        $.ajax({
            url: '/api/monitors',
            type: 'DELETE',
            data: { id: $(this).attr('data-id') },
            success: function (result) {
                window.location.href = '/monitors';
                // Do something with the result
            }
        });


    });

    $("#graph").submit(function (event) {

        /* stop form from submitting normally */
        event.preventDefault();

        url = '/api/monitors';

        var api_call = $.post(url, { type: $("#type").val().trim(), value: $("#value").val().trim() });

        api_call.done(function (result) {
            if (result["success"] == true) {
                window.location = "/monitors";
            }
        });
    });
    function login() {
        data = {};
        data["email"] = $("#email").val();
        data["password"] = $("#pass").val().trim();




        $.ajax({
            type: "POST",
            url: "/login",
            data: data,
            success: function (data) {
                console.log(data);
                if (data == 2) {
                    window.location.reload();
                } else if (data == 1) {
                    window.location.reload();
                } else if (data == -1) {
                    alert('You seem to be a new user, kindly register first..')
                    window.location.href = "/register";
                }
                else {
                    alert('Incorrect credentials')

                }
            }
        });
    }





</script>



<script src="static/vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="static/vendor/animsition/js/animsition.min.js"></script>
<script src="static/vendor/bootstrap/js/popper.js"></script>
<script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="static/vendor/select2/select2.min.js"></script>
<script src="static/vendor/daterangepicker/moment.min.js"></script>
<script src="static/vendor/daterangepicker/daterangepicker.js"></script>
<script src="static/vendor/countdowntime/countdowntime.js"></script>
<script src="static/js/main.js"></script>



{% endblock scripts %}