{% extends "layout_graph.html" %}

{% block content %}
<section class="wrapper">
    <!-- INLINE FORM ELELEMNTS -->
    <div class="row mt">
        <div class="col-lg-12">
            <div class="form-panel">
                <form id="graph" class="form" role="form">
                    <h4 class=""><i class="fa fa-angle-right"></i> Search </h4>

                    <div class="row">
                        <div class="col-md-3 mt">
                            <select class="form-control" id="type">
                                <option value="wa">Wallet Address</option>
                                <option value="tx">Transaction Hash</option>
                            </select>
                        </div>
                        <div class="col-md-5 mt">
                            <div class="form-group">
                                <label class="sr-only" for="value">Value</label>
                                <input type="text" class="form-control" id="value" placeholder="Enter Value">
                            </div>
                        </div>
                        <div class="col-md-2 mt">
                            <button type="submit" class="btn btn-theme"> Generate Graph </button>
                        </div>

                    </div>
                </form>
            </div>
            <!-- /form-panel -->
        </div>

        <!-- /col-lg-12 -->
    </div>
    <div class="row mt">
        <div class="col-lg-12">
            <div id="display-graph" class="form-panel form"
                style="display: none; position: relative; height:55vh; padding: 2.5vh;">
                <div class="col-lg-12" id="neo4jd3"
                    style="height: 50vh; box-sizing: border-box; width: inherit; z-index: inherit;"></div>
            </div>
        </div>
    </div>



    <!-- Scripts -->
    <script src="static/js/d3.min.js"></script>
    <script src="static/js/neo4jd3.js?v=0.0.1"></script>
    <script src="static/js/jquery.js"></script>
    <script type='text/javascript'>
        /* attach a submit handler to the form */
        $("#graph").submit(function (event) {

            event.preventDefault();
            type = $('#type :selected').val();
            console.log('Type:' + type);

            if (type == 'wa') {
                url = '/address';
                var posting = $.post(url, { address: $('#value').val() });
            } else {
                url = '/transaction';
                var posting = $.post(url, { tx_hash: $('#value').val() });
            }
            posting.done(function (result) {
                console.log('results:'+ result)
                data = {
                    "results": [{
                        "data": [{ "graph": result }]
                    }],
                    "errors": []
                }
                if ((result['nodes'].length) > 0) {
                    $('#display-graph').css('display', 'block');
                    console.log(result['nodes']);
                }
                else {
                    $('#display-graph').css('display', 'none');
                    alert('No resut found.')
                }
                var neo4jd3 = new Neo4jd3('#neo4jd3', {
                    minCollision: 60,
                    neo4jData: data,
                    nodeRadius: 25,
                    zoomFit: false
                });
            });

        });

    </script>
</section>
{% endblock content %}
{% block scripts %}
{% endblock scripts %}