{% extends "layout_graph.html" %}

{% block content %}
<section class="wrapper" style="height:100%;">
    <div class="row mt">
        <div class="col-lg-12">
            <div class="form-panel">
                <h4 class="mb"><i class="fa fa-angle-right"></i> Trace </h4>
                <form id="graph" class="form" role="form">

                    <div class="row">

                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label class="sr-only" for="exampleInputEmail2">Address</label>
                                        <input type="text" class="form-control" id="address"
                                            placeholder="Enter Address">
                                    </div>

                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="sr-only" for="exampleInputPassword2">Hop Count</label>
                                        <input type="text" class="form-control" id="hop_count"
                                            placeholder="Enter Hop Count">
                                    </div>

                                </div>

                            </div>
                            <div class="row">

                                <div class="col-md-6">
                                    <label class="control-label">Start Time</label>
                                    <div data-date="2014-02-01T10:05:00Z" class="input-group date form_datetime-adv">
                                        <input type="text" class="form-control" readonly="" size="16">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-theme date-set"><i
                                                    class="fa fa-calendar"></i></button>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-6">
                                    <label class="control-label">End Time</label>
                                    <div data-date="2014-02-01T10:05:00Z" class="input-group date form_datetime-adv">
                                        <input type="text" class="form-control" readonly="" size="16">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-theme date-set"><i
                                                    class="fa fa-calendar"></i></button>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                        <div class="col-md-3 text-center">
                            <div class="form-group slider-labal">
                                <label class="switching">
                                    <strong>
                                        Show Address Clusters
                                        <input type="checkbox" id="cluster">
                                        <span class="slider round"></span>
                                    </strong>
                                </label>
                            </div>

                            <button type="submit" class="btn btn-theme"> Generate Graph </button>

                        </div>
                    </div>


                </form>
                <br>
            </div>
            <!-- /form-panel -->
        </div>
    </div>
    <div class="row mt">
        <div class="col-lg-12">
            <div id="display-graph" class="form-panel form"
                style="display: none; position: relative; height:55vh; padding: 2.5vh;">
                <span class="fullscreen">
                    <i id="fullscreen-btn" class="fa fa-expand"></i>
                </span>
                <div class="col-lg-12" id="neo4jd3"
                    style="height: 50vh; box-sizing: border-box; width: inherit; z-index: inherit;"></div>
            </div>
        </div>
    </div> <!-- Scripts -->
    <script src="static/js/d3.min.js"></script>
    <script src="static/js/neo4jd3.js?v=0.0.1"></script>
    <script src="static/js/jquery.js"></script>
    <script type='text/javascript'>
        /* attach a submit handler to the form */
        $("#graph").submit(function (event) {

            /* stop form from submitting normally */
            event.preventDefault();

            url = '/api/trace';

            var posting = $.post(url, { address: $('#address').val(), hop_count: $('#hop_count').val(), cluster: $("#cluster").is(":checked") });
            /* Alerts the results */
            posting.done(function (result) {
                data = {
                    "results": [{
                        "data": [{ "graph": result }]
                    }],
                    "errors": []
                }
                if ((result['nodes'].length) > 0) {
                    $('#display-graph').css('display', 'block');
                    console.log(result['nodes']);
                }
                else {
                    $('#display-graph').css('display', 'none');
                    alert('No resut found.')
                }
                console.log('Result' + result);
                var neo4jd3 = new Neo4jd3('#neo4jd3', {
                    minCollision: 60,
                    neo4jData: data,
                    nodeRadius: 25,
                    zoomFit: false
                });
            });
        });

    </script>
</section>
{% endblock content %}
{% block scripts %}
{% endblock scripts %}